<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.out.api.newadminoutapi.dao.mapper.DealOrderAppMapper">

    <resultMap id="BaseResultMap" type="com.admin.out.api.newadminoutapi.dao.domain.DealOrderApp">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="orderId" column="orderId" jdbcType="VARCHAR"/>
            <result property="orderType" column="orderType" jdbcType="INTEGER"/>
            <result property="orderAccount" column="orderAccount" jdbcType="VARCHAR"/>
            <result property="orderStatus" column="orderStatus" jdbcType="CHAR"/>
            <result property="dealDescribe" column="dealDescribe" jdbcType="VARCHAR"/>
            <result property="orderAmount" column="orderAmount" jdbcType="DECIMAL"/>
            <result property="orderIp" column="orderIp" jdbcType="VARCHAR"/>
            <result property="appOrderId" column="appOrderId" jdbcType="VARCHAR"/>
            <result property="feeId" column="feeId" jdbcType="INTEGER"/>
            <result property="notify" column="notify" jdbcType="VARCHAR"/>
            <result property="back" column="back" jdbcType="VARCHAR"/>
            <result property="submitTime" column="submitTime" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="retain1" column="retain1" jdbcType="CHAR"/>
            <result property="retain2" column="retain2" jdbcType="CHAR"/>
            <result property="retain3" column="retain3" jdbcType="DECIMAL"/>
            <result property="currency" column="currency" jdbcType="VARCHAR"/>
            <result property="txhash" column="txhash" jdbcType="VARCHAR"/>
            <result property="actualAmount" column="actualAmount" jdbcType="DECIMAL"/>
            <result property="request" column="request" jdbcType="VARCHAR"/>
            <result property="response" column="response" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,orderId,orderType,
        orderAccount,orderStatus,dealDescribe,
        orderAmount,orderIp,appOrderId,
        feeId,notify,back,
        submitTime,createTime,status,
        retain1,retain2,retain3,
        currency,txhash,actualAmount,
        request,response
    </sql>
</mapper>
