<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.out.api.newadminoutapi.dao.mapper.RunOrderMapper">

    <resultMap id="BaseResultMap" type="com.admin.out.api.newadminoutapi.dao.domain.RunOrder">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="orderId" column="orderId" jdbcType="CHAR"/>
            <result property="associatedId" column="associatedId" jdbcType="CHAR"/>
            <result property="orderAccount" column="orderAccount" jdbcType="CHAR"/>
            <result property="runOrderType" column="runOrderType" jdbcType="INTEGER"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="generationIp" column="generationIp" jdbcType="CHAR"/>
            <result property="dealDescribe" column="dealDescribe" jdbcType="VARCHAR"/>
            <result property="acountR" column="acountR" jdbcType="VARCHAR"/>
            <result property="accountW" column="accountW" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="submitTime" column="submitTime" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="runType" column="runType" jdbcType="CHAR"/>
            <result property="amountType" column="amountType" jdbcType="CHAR"/>
            <result property="amountNow" column="amountNow" jdbcType="DECIMAL"/>
            <result property="retain4" column="retain4" jdbcType="CHAR"/>
            <result property="retain5" column="retain5" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,orderId,associatedId,
        orderAccount,runOrderType,amount,
        generationIp,dealDescribe,acountR,
        accountW,createTime,submitTime,
        status,runType,amountType,
        amountNow,retain4,retain5
    </sql>
</mapper>
