<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.out.api.newadminoutapi.dao.mapper.UserFundMapper">

    <resultMap id="BaseResultMap" type="com.admin.out.api.newadminoutapi.dao.domain.UserFund">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="VARCHAR"/>
            <result property="userName" column="userName" jdbcType="VARCHAR"/>
            <result property="cashBalance" column="cashBalance" jdbcType="DECIMAL"/>
            <result property="rechargeNumber" column="rechargeNumber" jdbcType="DECIMAL"/>
            <result property="freezeBalance" column="freezeBalance" jdbcType="DECIMAL"/>
            <result property="accountBalance" column="accountBalance" jdbcType="DECIMAL"/>
            <result property="sumDealAmount" column="sumDealAmount" jdbcType="DECIMAL"/>
            <result property="sumRechargeAmount" column="sumRechargeAmount" jdbcType="DECIMAL"/>
            <result property="sumProfit" column="sumProfit" jdbcType="DECIMAL"/>
            <result property="sumWitAmount" column="sumWitAmount" jdbcType="DECIMAL"/>
            <result property="sumAgentProfit" column="sumAgentProfit" jdbcType="DECIMAL"/>
            <result property="sumOrderCount" column="sumOrderCount" jdbcType="INTEGER"/>
            <result property="todayWitAmount" column="todayWitAmount" jdbcType="DECIMAL"/>
            <result property="todayDealAmount" column="todayDealAmount" jdbcType="DECIMAL"/>
            <result property="todayProfit" column="todayProfit" jdbcType="DECIMAL"/>
            <result property="todayOrderCount" column="todayOrderCount" jdbcType="INTEGER"/>
            <result property="todayAgentProfit" column="todayAgentProfit" jdbcType="DECIMAL"/>
            <result property="userType" column="userType" jdbcType="CHAR"/>
            <result property="agent" column="agent" jdbcType="VARCHAR"/>
            <result property="isAgent" column="isAgent" jdbcType="CHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="submitTime" column="submitTime" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="currency" column="currency" jdbcType="VARCHAR"/>
            <result property="quota" column="quota" jdbcType="DECIMAL"/>
            <result property="sumOtherWitAmount" column="sumOtherWitAmount" jdbcType="DECIMAL"/>
            <result property="todayOtherWitAmount" column="todayOtherWitAmount" jdbcType="DECIMAL"/>
            <result property="deposit" column="deposit" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,userName,
        cashBalance,rechargeNumber,freezeBalance,
        accountBalance,sumDealAmount,sumRechargeAmount,
        sumProfit,sumWitAmount,sumAgentProfit,
        sumOrderCount,todayWitAmount,todayDealAmount,
        todayProfit,todayOrderCount,todayAgentProfit,
        userType,agent,isAgent,
        createTime,submitTime,status,
        version,currency,quota,
        sumOtherWitAmount,todayOtherWitAmount,deposit
    </sql>
</mapper>
