<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.out.api.newadminoutapi.dao.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.admin.out.api.newadminoutapi.dao.domain.UserInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="VARCHAR"/>
            <result property="userName" column="userName" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="payPasword" column="payPasword" jdbcType="VARCHAR"/>
            <result property="salt" column="salt" jdbcType="VARCHAR"/>
            <result property="userType" column="userType" jdbcType="INTEGER"/>
            <result property="switchs" column="switchs" jdbcType="INTEGER"/>
            <result property="userNode" column="userNode" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="agent" column="agent" jdbcType="VARCHAR"/>
            <result property="isAgent" column="isAgent" jdbcType="CHAR"/>
            <result property="credit" column="credit" jdbcType="DECIMAL"/>
            <result property="receiveOrderState" column="receiveOrderState" jdbcType="INTEGER"/>
            <result property="remitOrderState" column="remitOrderState" jdbcType="INTEGER"/>
            <result property="QQ" column="QQ" jdbcType="VARCHAR"/>
            <result property="telegram" column="telegram" jdbcType="VARCHAR"/>
            <result property="skype" column="skype" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="submitTime" column="submitTime" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="privateKey" column="privateKey" jdbcType="VARCHAR"/>
            <result property="publicKey" column="publicKey" jdbcType="VARCHAR"/>
            <result property="minAmount" column="minAmount" jdbcType="DECIMAL"/>
            <result property="maxAmount" column="maxAmount" jdbcType="DECIMAL"/>
            <result property="totalAmount" column="totalAmount" jdbcType="DECIMAL"/>
            <result property="timesTotal" column="timesTotal" jdbcType="INTEGER"/>
            <result property="startTime" column="startTime" jdbcType="VARCHAR"/>
            <result property="endTime" column="endTime" jdbcType="VARCHAR"/>
            <result property="witip" column="witip" jdbcType="VARCHAR"/>
            <result property="queueList" column="queueList" jdbcType="VARCHAR"/>
            <result property="dealUrl" column="dealUrl" jdbcType="VARCHAR"/>
            <result property="qrRechargeList" column="qrRechargeList" jdbcType="VARCHAR"/>
            <result property="autoWit" column="autoWit" jdbcType="INTEGER"/>
            <result property="enterWitOpen" column="enterWitOpen" jdbcType="INTEGER"/>
            <result property="interFace" column="interFace" jdbcType="VARCHAR"/>
            <result property="balanceUrl" column="balanceUrl" jdbcType="VARCHAR"/>
            <result property="autowitstatus" column="autowitstatus" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,userName,
        password,payPasword,salt,
        userType,switchs,userNode,
        email,agent,isAgent,
        credit,receiveOrderState,remitOrderState,
        QQ,telegram,skype,
        createTime,submitTime,status,
        privateKey,publicKey,minAmount,
        maxAmount,totalAmount,timesTotal,
        startTime,endTime,witip,
        queueList,dealUrl,qrRechargeList,
        autoWit,enterWitOpen,interFace,
        balanceUrl,autowitstatus
    </sql>
</mapper>
